<div class="card">
  <div class="card-header">Edit Expense Record</div>

  <form class="card-body bg-light" action="/records/{{record._id}}?_method=PUT" method="POST">
  
    <div class="form-row mb-2">
      <label for="name">Expanse Description</label>
      <input type="text" class="form-control" placeholder="expanse name" id="name" name="name" value="{{record.name}}" required>
    </div>
    
    <div class="form-row mb-2">
      <label for="amount">Amount Spent</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input type="number" min="0" step="0.01"
              class="form-control currency" id="amount" name="amount" 
              value="{{record.amount}}" required/>
      </div>
    </div>
  
    <div class="form-row mb-2">
      <label for="date">Date</label>
      <input class="form-control" type="text" name="date" id="datepicker" value={{record.momentDate}} required>
    </div>

    <div class="form-row mb-2">
      <label for="category">Category</label>
      <select class="custom-select mr-sm-2" id="category" name="category" required>
        <option value={{record.category}} selected>{{record.category}}</option>
        {{#each categoryEdit}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>  

    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/">
      <div class="btn btn-secondary">go back</div>  
    </a>

  </form>
</div>