<div class="box-float">
  {{>message}}
</div>
<form class="form-inline my-2 my-lg-0" action="/records/filter" method="GET">
  <div class="form-row mb-2 ml-2">
    <select class="custom-select mr-sm-2" id="category" name="keyword">
      <option value="" selected>選分類</option>
      {{#each categoryMain}}
        <option value={{this.categoryId}}>{{this.name}}</option>
      {{/each}}
    </select>
    <h6 class="light month-check">選擇想查詢的月份</h6>
    <select class="custom-select mr-sm-2" name="pickyear">
      <option value={{currentYear}} selected>{{currentYear}}</option>
      {{#each years}}
        <option value={{this}}>{{this}}</option>
      {{/each}}
    </select>
    <select class="custom-select mr-sm-2" name="pickmonth">
      <option value="" selected>選月份</option>
      {{#each months}}
        <option value={{this}}>{{this}}</option>
      {{/each}}
    </select>
   
    <button class="btn btn-outline-light ml-2 my-2 my-sm-0" type="submit">過濾項目</button>
  </div>
  
</form>

<ul class="list-group">
  <li class="list-group-item d-flex">
    <h3 class="cost--sum">Total Cost: <span id="total-record-cost">0000</span></h3>

  </li>
  {{!-- expense record list start --}}
  {{#each records}}
  <li  class="list-group-item d-flex">

    <div class="col--category-icon">
      <i class="fa fa-{{this.category.icon}} fa-3x" style="color:{{this.category.color}};"></i>
    </div>

    <div class="col--expense-info d-flex w-400 flex-column">
      <h5>{{this.name}}</h5>
      <small><span>{{this.merchant}}</span></small>
      <small>Date: <span>{{this.momentDate}}</span></small>
    </div>

    <div class="col--expense-amount d-flex w-400 flex-column">
      <p class="d-inline-block my-4 my-sm-2">$: 
        <span class="each-record-amount">{{this.amount}}</span>
      </p>
    </div>

    <div class="col--btns w-400 justify-content-between flex-row">
      <a href="/records/{{ this._id }}/edit" method="GET">
        <button class="btn btn-outline-success btn-sm my-4 my-sm-2 btn--edit" type="submit">
          Edit
        </button>
      </a>

      <form id="form--delete" class="btn--delete d-inline-block" action="/records/{{ this._id }}?_method=DELETE" method="POST">
        <button class="btn btn-outline-success btn-sm my-4 my-sm-2 " type="submit">
          Delete
        </button>
      </form>
    </div>

  </li>
  {{/each}}

  <li  class="list-group-item d-flex">
    <a href="/records/new">
      <div class="btn--add mt-4">
         Create new record
      </div> 
    </a>
  </li>

</ul>




